<link href="/static/css/query/list.css" rel="stylesheet"/>
<div class="container">
    <form id="search_form" action="/query/list" name="search" method="POST">
        <table border="0" height="30px" align="center">
            <tr>
                <td>
                    <div class="input-group">
                        <input class="form-control" name="queryContent" type="text" size="50" id="queryContent"
                               placeholder="爱搜-更好的搜索，更好的自己" aria-describedby="basic-addon2" value="$queryContent">
                        <span class="input-group-addon" style="background-color:#ffffff;"
                              onclick="showVoiceDialog()"><img src="/static/img/mic128.png" height="20"
                                                               width="20"/></span>
                    </div>
                    <input type="hidden" id="pageIndex" name="pageIndex"/>
                </td>
                <td height="38" align="center">
                    <input class="btn btn-primary btn-md" style="font-weight: bold" type="submit" value="搜索一下"
                           id="search">
                </td>
            </tr>
        </table>
    </form>
</div>
<div style="margin-top: 20px">
    <p>爱搜为您找到约 $totalCount 个结果，用时 $seconds s</p>

    <div class="container" style="width:75%;float: left;">
        #foreach($queryResult in $queryList)
            <div class="row">
                <h3>
                    <a target="_blank" href=${queryResult.url}>${queryResult.title}</a>
                </h3>

                <p>${queryResult.content}</p>

                <p>${queryResult.url}
                    &nbsp;&nbsp;&nbsp;
                    ${queryResult.date}
                    &nbsp;&nbsp;&nbsp;
                    <a target="_blank"
                       href="/query/fastGraph?filePath=${queryResult.filePath}&fileCharset=${queryResult.fileCharset}">快照</a>
                </p>
            </div>
        #end
        #if($pageCount > 1)
            #set($start = 1)
            #if($pageIndex > 3)
                #set($start = $pageIndex - 3)
            #end
            #set($end = $start + 9)
            #if($end > $pageCount)
                #set($end = $pageCount)
            #end
            <div class="text-right">
                <nav>
                    <ul class="pagination pagination-sm">
                        #if($pageIndex > 1)
                            #set($prev = $pageIndex - 1)
                            <li><a href="javascript:void(0)" onclick="queryByPage('$queryContent',$prev)"
                                   title="上一页">&laquo;</a></li>
                        #end
                        #foreach($page in [$start..$end])
                            #set($active="")
                            #if($page == $pageIndex)
                                #set($active = "class='active'")
                            #end
                            <li $active><a href="javascript:void(0)"
                                           onclick="queryByPage('$queryContent',$page)">$page</a></li>
                        #end
                        #if($pageIndex < $pageCount)
                            #set($next = $pageIndex + 1)
                            <li><a href="javascript:void(0)" onclick="queryByPage('$queryContent',$next)"
                                   title="下一页">&raquo;</a></li>
                        #end
                    </ul>
                </nav>
            </div>
        #end
    </div>

    <div class="container" style="width:20%;float: right;margin-top:18px;">
        <div style="width:100%">
            <i class='glyphicon glyphicon-star'></i><span style="margin-left:2px;">热门搜索</span>

            <div class="sehistory">
                #foreach($query in $hotQueryList)
                    <li style="list-style: none">
                        <a onclick="query('${query.content}')"
                           href="javascript:void(0)">${query.content}</a>
                    </li>
                #end
            </div>
        </div>

        <div style="margin-top:20px;width:100%">
            <i class='glyphicon glyphicon-search'></i><span style="margin-left:2px;">搜索历史</span>

            <div class="sehistory">
                #foreach($search in $searchList)
                    <li style="list-style: none"><a onclick="query('${search}')" href="javascript:void(0)">${search}</a>
                    </li>
                #end
            </div>
        </div>
    </div>
</div>

<!--语音搜索Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-title" id="myModalLabel"><img src="/static/img/mic128.png" height="20"
                                                                width="20"/><b>爱搜-语音搜索</b>
                </div>
            </div>
            <div class="modal-body">
                <div id="viz">
                    <canvas id="analyser" width="1024" height="500"></canvas>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-primary" onclick="startRecording(this);">
                        record
                    </button>
                    <button type="button" class="btn btn-primary" onclick="stopRecording(this);" disabled>stop</button>
                </center>
            </div>
        </div>
    </div>
</div>
<!--语音合成开始-->
<audio autoplay id="tts_audio" class="container" src="data:audio/mp3;base64,$tts_audio"/>

<!--语音识别开始-->
<div style="display: none;">
    <button onclick="startRecording(this);">record</button>
    <button onclick="stopRecording(this);" disabled>stop</button>

    <!--语音试听列表-->
    <h2>Recordings</h2>
    <ul id="recordingslist"></ul>

    <!--语音识别日志-->
    <h2>Log</h2>
    <pre id="log"></pre>
</div>
<script type="text/javascript">
    //提交表单
    function submitForm() {
        if ($("#queryContent").val() != '') {
            $("#search_form").submit();
        }
    }

    //点击搜索历史
    function queryByPage(queryContent, pageIndex) {
        $("#queryContent").val(queryContent);
        $("#pageIndex").val(pageIndex);
        $("#search_form").submit();
    }

    //语音合成
    function getTTSAudio(){
        var mp3 = {
            prefix: "data:audio/mp3;base64,",
            sound: ""
        };
        var player = $("#tts_audio");
        player.attr("src", mp3.prefix + mp3.sound);
        player.play();
    }
</script>
<script src="/static/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/static/js/query/recorder.js"></script>
<script src="/static/js/query/main.js"></script>
<script src="/static/js/query/audiodisplay.js"></script>
<script src="/static/js/query/queryByVoice.js"></script>
